<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <!--<h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Alex Smith</h4>
            <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
            <ul>
              <li>Portland par 127,Orlando, FL</li>
              <li>(123) 456-7891</li>
              <li>alice.barkley@example.com</li>
            </ul>
          </div> !-->

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor's degree in electrical engineering and computer science, New computer technologies</h4>
            <h5>2010 - 2013</h5>
            <p><em>The School of Electrical and Computer Engineering of Applied Studies, Belgrade, Serbia</em></p>
            <p>Activities and societies:
              </p>
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>.Net</strong> </li>
                <li><i class="bi bi-chevron-right"></i> <strong>MSSQL</strong> </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Oracle</strong> </li>
                <li><i class="bi bi-chevron-right"></i> <strong>Java</strong> </li>
                
             
              </ul>Applied knowledge in objected oriented programming.
              <br>
              <a href="https://www.viser.edu.rs/smer/nrt/2012?userLanguage=eng">Studies information</a>
          </div>
          <div class="resume-item">
            <h4>Gymnasium degree</h4>
            <p><em>XV Gymnasium, Belgrade, Serbia</em></p>
            <h5>2006 - 2010</h5>
            </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4> Svea Bank </h4>
            <p class="container"><strong>Tech specification of the system :</strong></p>
            <ul class="list-none">
              <li><i class="bi bi-chevron-right"></i> <strong>Message / Event driven - Hexagonal onion architecture</strong> </li>
              <li><i class="bi bi-chevron-right"></i> <strong>Particular NServiceBus</strong> </li>
              <li><i class="bi bi-chevron-right"></i> <strong>.Net</strong> </li>
              <li><i class="bi bi-chevron-right"></i> <strong>MSSQL / Oracle</strong> </li>
            </ul>
            <div class="resume-item inner">  
            <h4>Tech lead  </h4>
            <h5>2020 - Present</h5>
           
            <ul>
              <li>Lead in the team design, development, and implementation of the microservice, event driven system architecture.</li>
              <li>Delegate tasks to the 7 members of the development team and provide counsel on all aspects of the project. </li>
              <li>Supervise the assessment of all product backlog items in order to ensure quality of the code and accuracy of the implementations and stability of the architecture design.</li>
              <li>Working tightly with other Tech leads and System architect in order to brainstorm, identify, propagate future architectural strategies.  </li>
              <li>Working tightly with Product owner on analysis, definition and implementation of the product backlog items.  </li>
            </ul> 
            </div>
            <div class="resume-item inner">
              <h4>Senior Software Developer </h4>
              <h5>2018 - 2020</h5>
              <p><em>Nov 2018 - Aug 2020 · 1 yr 10 mos</em></p>
              <ul>
                <li>Development and maintaince of numerous microservice, event-driven  systems ( client, messaging, notification, credit check...).</li>
                <li>Working with Unit, Integration, Performance tests.</li>
                <li>Architecture improvements implementation of the core system.</li>
                <li>Working tightly with Product owner on analysis, definition and implementation of the product backlog items.  </li>
              </ul>
            </div>
            <div class="resume-item inner">
              <h4>Intermediate Software Developer </h4>
              <h5>2016 - 2018</h5>
              <p><em>Jun 2016 - Nov 2018 · 2 yr 6 mos</em></p>
              <ul>
                <li>Developed several microservice, event-driven systems ( consumer, user...).</li>
                <li>Working with Unit, Integration tests.</li>
                <li>Working in a team of 10 developers.  </li>
                <li>Product backlog items analysis and implementation  </li>
              </ul>
            </div>
          </div>
         
          <div class="resume-item">
            <h4> Banca Intesa Belgrade</h4> 
            <p class="container"><strong>Tech specification of the system :</strong></p>
            <ul class="list-none">
              <li><i class="bi bi-chevron-right"></i> <strong>.Net</strong> </li>
              <li><i class="bi bi-chevron-right"></i> <strong>MSSQL / Oracle</strong> </li>
            </ul>
            <div class="resume-item inner">
             
            <h4>.Net Developer - Card operation team </h4>
            <h5>2014 - 2016</h5>
            <p><em>Nov 2014 - Jun 2016 · 1 yr 8 mos</em></p>
      
            <ul>
              <li>Architecture improvements implementation of the <strong>
                Card acquiring and issuing solution</strong>.</li>
              <li>Working tightly with Product owner on analysis, definition and implementation of the product backlog items.  </li>
            </ul>
          </div>
          <div class="resume-item inner">
            <h4>.Net Developer - Foreign currencies operation team</h4>
            <h5>2013 - 2014</h5>
            <p><em>Oct 2013 Nov 2014 · 1 yr 1 mos</em></p>
            <ul >
              <li>Developed a centralized system for the applications access rights WinForm .NET MSSQL</li>
             
              <li>Working tightly with Product owner on analysis, definition and implementation of the product backlog items.  </li>
            </ul>
          </div>
          </div>
          <div  class="resume-item">
            <h4> Halo Oglasi Belgrade</h4>
            <p class="container"><strong>Tech specification of the system :</strong></p>
              <ul class="list-none">
                <li> <i class="bi bi-chevron-right"></i> <strong>.Net Winforms</strong>  </li>
                <li>   <i class="bi bi-chevron-right"></i> <strong>MSSQL</strong>  </li>
                <li> <i class="bi bi-chevron-right"></i> <strong>Tourtouse SVN</strong> </li>
              </ul>
            <div class="resume-item inner"> 
              
            <h4> Junior .Net Developer  </h4>
            <h5>2013 - 2013</h5>
            <p><em>Apr 2013 Nov 2013 · 8 mos</em></p>
           
            <ul>
              <li>Developed a banner application</li>
              <li>Developed new features and maintanaince - BackOffice application</li>
              <li>Working with Newsletter campaings</li>
            </ul>
          </div>
          </div>
        </div>
      </div>
   
    </div>
   
  </section><!-- End Resume Section -->